#container {
  background-image: url(blue.jpg);
  height: 1000px;
  background-position: center;
  background-size: cover;
}
.main {
  height: 100px;

  font-family: "Libre Baskerville", serif;
}
.main h3 {
  padding-top: 20px;
  padding-left: 650px;
  color: whitesmoke;
  font-weight: bold;
}
.header {
  color: whitesmoke;
}
.header h1 {
  padding: 50px;
  padding-left: 650px;
  font-family: "Libre Baskerville", serif;
  font-family: "Pacifico", cursive;
  font-weight: bold;
}
.option {
    
    position: relative;
    left: 80%;
    top: 30%;
    
}
.option button
{
    margin: 10px;
}

